@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-chapter: #475569;
    --color-knowledge: #0369a1;
    --color-exam-point: #a16207;
    --color-exam-question: #b91c1c;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
